
/* вся таблица*/
#container {
margin: 0px; /*величину отступа от каждого края элемента*/
text-align: center; /*выравнивание текста*/
width: 100%;  /*ширина*/
height: 500px; /*высота */
}
/* заглавие*/
#header {
color: #FFFFFF;
margin: 50px; /*отступ*/
width: 100%; /* ширина*/
height: 10px; /*высота*/
}
/*таблица вкладок*/
#mainmenu {
position: relative; /*позиционирования элемента относительно окна браузера*/
overflow: visible; /*Отображается только область внутри элемента, остальное будет скрыто.*/
height: 10px; /*высота*/
margin: 50px; /*отступ*/
}
/*вкладки*/
#mainmenu ul li {
left: 50%; /*расстояние от левого края*/
float: left; /*выравнивание элемента*/
margin: 25px; /*отступ*/
height: 5px; /*высота*/
}
/*текст вкладок*/
#mainmenu ul li a {
color: #FFFFFF; /* цвет*/
padding: 0 20px; /*значение полей вокруг содержимого элемента*/
line-height: 20px; /*межстрочный интервал текста*/
}
/*основание*/
#content {
color: #FFFFFF;
margin: 80px; /*отступ*/
padding: 0 75px; /*значение полей вокруг содержимого элемента*/
text-align: center; /*выравнивание текста*/
width: 80%; /*ширина*/
height: 100px; /*высота*/
font-family: Arial, sans-serif; /*семейство шрифта*/
font-size: 30px; /*размер шрифта элемента*/
}

/*табличка*/
#table {
width: 100%; /*ширина*/
margin: 20px; /*величину отступа от каждого края элемента*/
color: #FFFFFF;
height: 20px; /*высота*/
position: relative; /*позиционирования элемента относительно окна браузера*/
overflow: visible; /*Отображается только область внутри элемента, остальное будет скрыто.*/
} 
/*подвал*/ 
#footers {
	padding-top: 215px;
width: 100%; /*ширина*/
color: #00FF00;
height: 200px; /*высота*/
}


/*подвал*/ 
#footer {
width: 100%; /*ширина*/
color: #00FF00;
height: 150px; /*высота*/
}
